beautifulsoup4==4.14.3
block_sparse_attn==0.0.2
datasets==3.2.0
einops==0.8.2
fastapi==0.136.1
flash_attn==2.8.3
flashinfer_python==0.2.5+cu126torch2.6
Flask==3.1.3
Flask_RESTful==0.3.10
fuzzywuzzy==0.18.0
html2text==2025.4.15
jieba==0.42.1
mamba_ssm==2.3.1
matplotlib==3.10.9
mpi4py==4.1.1
nemo==7.4.2
nltk==3.9.2
numpy==2.4.4
openai==2.35.1
pandas==3.0.2
Pillow==12.2.0
protobuf==7.34.1
PyYAML==6.0.3
Requests==2.33.1
rouge==1.0.1
scipy==1.17.1
spas_sage_attn==0.1.0
sshtunnel_requests==0.1.3
tenacity==9.1.4
tensorrt_llm==1.2.1
tiktoken==0.12.0
torch==2.10.0+cu128
tqdm==4.67.1
transformers==4.46.0
triton==3.6.0
uvicorn==0.46.0
vllm==0.20.1
wonderwords==3.0.1
